/* Style GENERAL correspond aux différents élements de la page */

html, body {
    font-family: Circular, BlinkMacSystemFont, Roboto, sans-serif;
    background-image: url(images/pexels-immo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
    width: 100vw;
}

h1 {
    color: rgb(65, 52, 52);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.catchphrase {
    color: white;
    display: block;
    position: fixed;
    letter-spacing: 0.06em;
    font-weight: 600;
    text-shadow: #413334 6px 4px 8px;
}

/* Style des éléments générer suite à un Event */

.profitability {
    display: block;
    color: #413334;
    text-align: center;
    border-bottom: 1px solid #8B8B8B;
}

.rent_year {
    color: #8B8B8B;
    font-style: italic;
    text-align: center;
}

.display_results {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    background: white;
    transition: all 1s;
    display: none;
}

.display_results.transition-on {
    top: 50%;
    height: 50vh;
}

.display_results.transition-off {
    top: 100%;
}


/* Style du formulaire */

.form_immo {
    font-family: inherit;
}

.search_zone {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 32px;
    color: rgb(34, 34, 34);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 32px, rgba(0, 0, 0, 0.1) 0px 3px 8px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
}

.zone_input {
    color: rgb(34, 34, 34);
}

label {
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    border: 1px solid transparent;
    font-weight: 800;
    text-align: center;
}

input {
    background: none;
    font-weight: 600;
    color: #413334;
    outline-style: none;
    text-align: center;
}

/* Boutton pour clear le formulaire */

.clear-form{
    display: block;
}
  
.leftright{
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 20px;
    background-color: #363233;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}
  
.rightleft{
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 20px;
    background-color: #970019;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}
  
.close{
    color: white;
    background-color: #363233;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in;
    opacity: 0;
    margin: 40px 0 0 -2px;
    border: none;
    padding: 3px;
    cursor: pointer;
}
  
.close:focus {
    text-decoration: none;
    outline: none;
    border: whitesmoke 1px solid;
    box-shadow: none;
}
  
.clear-form:hover .leftright{
    transform: rotate(-45deg);
    background-color: #363233;
}
.clear-form:hover .rightleft{
    transform: rotate(45deg);
    background-color: #970019;
}
.clear-form:hover .close{
    opacity: 1;
}  

/* Style correspond au bouton calculer */

#button {
    background: radial-gradient(#bc001e, #960018,#960018, #870f22, #780013);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    border-radius: 24px;
    margin: auto;
    border: 2px solid #363233;
}

.button {
    text-align: center;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
    border-right: none;
}


/** MEDIA QUERIES **/

@media screen and (min-width: 321px) and (max-width: 767px) {

    h1 {
        font-size: 25px;
        padding-top: 8px;
    }
    .catchphrase {
        font-size: 16px;
        text-align: center;
        margin-bottom: 0;
        width: 95vw;
        height: 5vh;
    }

    /* Style des éléments générer suite à un Event */
    .profitability {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 20px auto;
        width: 90vw;
    }
    .rent_year {
        font-size: 9px;
    }

    .display_results.transition-on {
        top: 80%;
        height: 20vh;
    }

    /* Style du formulaire */
    .form_immo {
        margin: 1em auto;
        height: 82vh;
        width: 60vw;
    }
    .search_zone {
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
    }
    .zone_input {
        font-size: 14px;
        line-height: 1.43;
        margin: 10px 20px;
        width: 80%;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 5px;
    }
    label {
        font-size: 12px;
        padding-bottom: 5px;
        letter-spacing: 0.04em;
        width: 90%;
    }
    input {
        border: 0px;
        margin: 0px;
        padding-left: 10px;
        width: 85%;
        font-size: 12px;
    }
    /* Style correspond aux bouttons */
    #button {
        font-size: 16px;
        line-height: 16px;
        padding: 12px;
        margin: 0 auto;
    }
    .button {
        padding: 10px;
    }

    .clear-form{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 46px;
        padding-top: 30px;
    }
    .catchphrase {
        font-size: 28px;
        margin-top: 3em;
        height: 10vh;
        width: 95vw;
        text-align: center;
    }
    /* Style des éléments générer suite à un Event */
    .profitability {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 20px auto;
        width: 90vw;
    }
    .rent_year {
        font-size: 9px;
    }

    .display_results.transition-on {
        top: 80%;
        height: 20vh;
    }


    /* Style du formulaire */
    .form_immo {
        margin-top: 50px;
    }
    .search_zone {
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;        
    }
    .zone_input {
        font-size: 14px;
        line-height: 1.43;
        margin: 20px 15px;
        width: 95%;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 5px;  
    }
    label {
        font-size: 12px;
        padding-bottom: 5px;
        letter-spacing: 0.04em;
        width: 90%;
    }
    input {
        border: 0px;
        margin: 0px;
        padding-left: 10px;
        width: 85%;
        font-size: 12px;
    }
    /* Style correspond aux bouttons */
    button {
        font-size: 16px;
        line-height: 16px;
        padding: 15px;
        margin: auto;
    }
    .button {
        padding: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 46px;
        padding-top: 30px;
    }

    .catchphrase {
        font-size: 30px;
        margin-top: 215px;
        margin-left: 5em;
        width: 15vw;
    }
    /* Style des éléments générer suite à un Event */
    .profitability {
        font-size: 25px;
        padding-top: 28px;
        padding-bottom: 20px;
        margin: 50px auto;
        width: 35vw;
    }
    .rent_year {
        font-size: 9px;
    }
    /* Style du formulaire */

    .form_immo {
        margin-top: 50px;
    }
    .search_zone {
        height: 70px;
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    .zone_input {
        font-size: 14px;
        line-height: 1.43;
        margin: 20px 15px;
        width: 95%;
        border-right: 1px solid #DDDDDD;
    }
    label {
        font-size: 12px;
        padding-bottom: 3px;
        letter-spacing: 0.04em;
        width: 95%;
    }
    input {
        border: 0px;
        margin: 0px;
        padding-left: 10px;
        width: 85%;
        font-size: 12px;
    }
    /* Style correspond aux bouttons */
    button {
        font-size: 16px;
        line-height: 16px;
        padding: 15px;
        margin: auto;
    }
    .button {
        padding: 16px;
    }
}

@media screen and (min-width: 1200px)  {
    h1 {
        font-size: 46px;
        padding-top: 30px;
    }

    .catchphrase {
        font-size: 35px;
        margin-top: 215px;
        margin-left: 5em;
        width: 15vw;
    }
    /* Style des éléments générer suite à un Event */
    .profitability {
        font-size: 25px;
        padding-top: 28px;
        padding-bottom: 20px;
        margin: 50px auto;
        width: 30vw;
    }
    .rent_year {
        font-size: 11px;
    }
    /* Style du formulaire */
    .form_immo {
        margin-top: 50px;
    }
    .search_zone {
        height: 75px;
        width: 75%;
        margin: 0 auto;
        display: flex;
    }
    .zone_input {
        font-size: 12px;
        line-height: 1.43;
        margin: 20px 15px;
        width: 95%;
        border-right: 1px solid #DDDDDD;
    }
    label {
        font-size: 12px;
        padding-bottom: 3px;
        letter-spacing: 0.04em;
        width: 95%;
    }
    input {
        border: 0px;
        margin: 0px;
        padding-left: 10px;
        width: 90%;
        font-size: 12px;
    }

    /* Style correspond aux bouttons */
    button {
        font-size: 16px;
        line-height: 16px;
        padding: 15px;
        margin: auto;
    }
    .button {
        padding: 16px;
    }
    .clear-form {
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1600px)  {
    .container {
        width: 1600px;
        margin: auto;
    }

    .zone_input {
        font-size: 14px;
    }
    label {
        font-size: 14px;
    }
    input {
        font-size: 14px;
    }
}

@media screen and (min-width: 1900px) {
    .container {
        width: 1600px;
        margin: auto;
    }
}